@charset "UTF-8";
.citation {
  font-family: Arial, sans-serif; }

/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem; }

th {
  background-color: lightgrey; }

table {
  border: 1px solid black; }

table tr {
  border: 1px solid blue; }

.citation {
  font-weight: bold;
  padding: 25px;
  font-size: 18px; }

.citation::before {
  content: "« "; }

.citation::after {
  content: " »"; }

@media (max-width: 500px) {
  .citation {
    padding: 15px;
    font-size: 14px; } }

#dmalan {
  border: 2px solid green; }

ol li {
  font-weight: bold; }
